<div class="uk-grid">
  <div class="uk-width-5-10 uk-push-1-10">
    <h1>Editing Developer</h1>

    <%= render 'form', developer: @developer %>

    <%= link_to 'Show', @developer %> |
    <%= link_to 'Back', developers_path %>

  </div>
</div>