<% commentable.comments.each do |comment| %>
  <div class="comment">
    <h5><%= comment.title %></h5>
    <p><%= comment.body %></p>
    <small><%= comment.created_at.strftime("%D %H:%M:%S") %></small>

    <%= button_to "delete", comment, :method => :delete %>
  </div>
<% end %>